* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px solid red;   */  
}

.botonera{
  display :flex;
  justify-content: space-between;
}

header {
  background-color: #000;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

nav ul li a:hover {
  color: #ff0000;
}

.logo img {
  max-width: 100px;
}

button {
  background: #e50914;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1rem;
  margin :10px;
}

button:hover {
  background: #f40612;
}


.plano {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plano div {
  margin: 20px;
  text-align: center;
}

.hero {
  background-image: url("../assets/fondo02.jpg"); 
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  height: 100vh; 
}

.hero h1,
.hero p {
  text-align: center; 
}

.hero h1 {
  font-size: 50px;
}

.hero p {
  font-size: 30px;
}

.content {
  padding: 20px;
}

main {
  background-color: #9b3922;
}

footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 500px;
  margin: 20px auto;
  padding: 20px;
  background-color: #e9d0ca;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="label"]
 {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.btn:hover {
  background-color: #0056b3;
}

.fila {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: nowrap;
  padding: 50px 0;
}

footer {
  padding: 50px 15% 10px;
  border-top: 6px solid #333;
  color: #777;
}
footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
footer .columna {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
  padding: 0px 15px;
}
footer .columna a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .columna a:hover {
  text-decoration: underline;
}
footer .fila {
  align-items: flex-start;
  padding: 10px 0;
}

.footer .fila {
  display: flex;
  flex-wrap: wrap;
}

.footer .columna {
  flex: 1;
  margin: 0 10px;
}



/* Este es el boton para llamar al moda */
.boton-modal {
  padding: 40px;
  background-color: #fff;
}
.boton-modal label {
  padding: 10px 15px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover {
  background-color: #185e83;
}


/*aca va la ventana modal*/
#btn-modal {
  display: none;
}
.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
#btn-modal:checked ~ .container-modal {
  display: flex;
}
.content-modal {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2 {
  margin-bottom: 15px;
}
.content-modal p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label {
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover {
  background-color: #185e83;
}
.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
@media screen and (max-width: 800px) {
  .content-modal {
    width: 90%;
  }
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgba(0, 0, 0, 0.8); 
}

.modal-content-login {
  background-color: #333;
  margin: 10% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 400px;
  color: #fff;
  animation: fadeIn 0.5s;
}

.modal-content-register {
  background-color: #333;
  margin: 1% auto; 
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  max-width: 400px;
  color: #fff;
  animation: fadeIn 0.5s;
}


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.close {
  color: #bbb;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 10px;
  margin-top: 5px;
  border: none;
  font-size: 1rem;
}

button[type="submit"] {
  margin-top: 20px;
  background: #e50914;
  color: white;
  border: none;
  padding: 10px;
  }

button[type="submit"]:hover {
  background: #f40612;
}

.error {
  color: #e50914;
  font-size: 0.9rem;
  margin-top: 5px;
  display: none;
}


/* Estilo para el contenedor del catálogo */
.peliculas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.peliculasTendencia div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.peliculasTendencia .boton {
  margin: 0 10px; /* Ajusta el valor para aumentar o disminuir el espacio entre los botones */
}

/* Estilo para los botones al pasar el cursor sobre ellos */
.boton:hover {
  background: #f40612; /* Cambia el color de fondo */
  transform: translateY(-2px); /* Desplaza ligeramente hacia arriba */
}

.tarjetas {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  text-align: center;
  margin: 10px;
}

.tarjetas h1 {
  width: 100%;
  margin-bottom: 20px;
}

.tarjeta {
  width: 180px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.tarjeta img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s ease-in-out;
}

.tarjeta:hover img {
  transform: scale(1.1);
}

.terminos{
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
 }
 
 .textoCheck{
      margin-left: 10px;
  }

 .tituloSection{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 350px;
}

